---
import Navbar from "@/components/Navbar.astro";
import Hero from "@/components/Hero.astro";
import About from "@/components/About.astro";
import TechStack from "@/components/TechStack.astro";
import "@fontsource-variable/montserrat";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Zach Riane Machacon</title>
  </head>
  <body class="m-0 p-0 overflow-x-hidden">
    <div>
      <Navbar />
      <Hero />
      <About />
      <TechStack />
    </div>
  </body>
</html>
