---

---

<section class="flipped-gradient h-full p-10 flex flex-col items-center gap-5 text-center">
  <div>
    <span class="bg-hiyo-purple text-white px-3 text-3xl sm:text-5xl font-bold">about me.</span>
  </div>
  <p
    class="text-xs sm:text-sm md:text-md lg:text-lg text-justify font-medium md:w-[90vw] lg:w-[50vw]"
  >
    Zach Riane Machacon is a proficient software and machine learning engineer with a robust
    educational foundation in Computer Engineering from the University of San Carlos. His leadership
    acumen is evidenced by his transformative role in expanding the Google Developer Student Clubs -
    San Carlos. In his professional journey, he has adeptly navigated the realms of web development
    and machine learning, demonstrating a commitment to excellence through his contributions to
    projects like Project Taytayan and innovative research endeavors. With a penchant for data
    organization and an eye for detail, Zach's methodical approach to problem-solving and project
    execution sets a high standard within the technology sector.
  </p>
</section>

<style>
  .flipped-gradient {
    position: relative;
    background: rgb(79, 16, 145);
    background: radial-gradient(
      circle at center top,
      rgba(79, 16, 145, 1) 0%,
      rgba(255, 255, 255, 1) 72%
    );
  }

  .flipped-gradient::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://grainy-gradients.vercel.app/noise.svg);
    background-blend-mode: multiply;
    filter: contrast(150%) brightness(110%);
    pointer-events: none;
    z-index: 1;
  }

  .flipped-gradient::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, white);
    pointer-events: none;
    z-index: 2;
  }
  .flipped-gradient > * {
    position: relative;
    z-index: 3;
  }
</style>
