---

---

<section class="w-full mt-10" id="contact">
  <div class="flex flex-col items-center gap-3">
    <span class="bg-hiyo-purple text-white px-3 text-3xl sm:text-5xl font-bold"
      >contact me.</span
    >
    <div class="flex flex-wrap items-center justify-center gap-4">
      <a
        href="mailto:zachriane01@gmail.com"
        class="flex justify-center items-center gap-2 text-hiyo-purple hover:text-light-purple"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="55"
          height="55"
          fill="#4F1091"
          viewBox="0 0 24 24"
        >
          <path
            d="M20,4H4C2.897,4,2,4.897,2,6v12c0,1.103,0.897,2,2,2h16c1.103,0,2-0.897,2-2V6C22,4.897,21.103,4,20,4z M20,6v0.511 l-8,6.223L4,6.512V6H20z M4,18V8.044l7.386,5.745C11.566,13.962,11.816,14,12,14s0.434-0.038,0.614-0.211L20,8.044L20.002,18 H4z"
          ></path>
        </svg>
      </a>
      <a
        href="https://www.facebook.com/blurridge"
        class="flex justify-center items-center gap-2 text-hiyo-purple hover:text-light-purple"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="45"
          height="45"
          fill="#4F1091"
          viewBox="0 0 24 24"
        >
          <path
            d="M24,12.073C24,5.405,18.627,0,12,0S0,5.405,0,12.073C0,18.042,4.388,23.094,10.125,24v-8.437H7.078V12.073h3.047V9.329 c0-3.018,1.792-4.687,4.533-4.687c1.312,0,2.687,0.236,2.687,0.236v2.953h-1.513c-1.494,0-1.953,0.929-1.953,1.879v2.363h3.328 l-0.532,3.49h-2.796V24C19.612,23.094,24,18.042,24,12.073z"
          ></path>
        </svg>
      </a>
      <a
        href="https://github.com/blurridge"
        class="flex justify-center items-center gap-2 text-hiyo-purple hover:text-light-purple"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          fill="#4F1091"
          viewBox="0 0 24 24"
        >
          <path
            d="M12,2C6.477,2,2,6.477,2,12c0,4.418,2.865,8.166,6.839,9.489c0.5,0.092,0.682-0.217,0.682-0.482 c0-0.237-0.008-0.868-0.013-1.703c-2.782,0.605-3.369-1.343-3.369-1.343c-0.454-1.158-1.11-1.466-1.11-1.466 c-0.908-0.62,0.069-0.608,0.069-0.608c1.003,0.07,1.531,1.03,1.531,1.03c0.891,1.529,2.341,1.087,2.91,0.831 c0.092-0.646,0.349-1.087,0.635-1.338c-2.22-0.253-4.555-1.111-4.555-4.943c0-1.091,0.39-1.984,1.029-2.683 C8.29,9.65,7.935,8.515,8.418,7.085c0,0,0.839-0.269,2.749,1.026c0.797-0.222,1.651-0.332,2.499-0.336 c0.848,0.004,1.703,0.114,2.499,0.336c1.909-1.294,2.748-1.026,2.748-1.026c0.484,1.43,0.129,2.565,0.063,2.834 c0.639,0.699,1.028,1.592,1.028,2.683c0,3.841-2.337,4.687-4.566,4.933c0.359,0.309,0.678,0.919,0.678,1.853 c0,1.337-0.012,2.419-0.012,2.748c0,0.267,0.18,0.578,0.688,0.48C19.135,20.166,22,16.418,22,12C22,6.477,17.523,2,12,2z"
          ></path>
        </svg>
      </a>
      <a
        href="https://x.com/zachahalol"
        class="flex justify-center items-center gap-2 text-hiyo-purple hover:text-light-purple"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          fill="#4F1091"
          viewBox="0 0 24 24"
        >
          <path
            d="M24,4.557c-0.883,0.392-1.832,0.656-2.828,0.775c1.017-0.609,1.798-1.574,2.165-2.724 c-0.951,0.564-2.005,0.974-3.127,1.195c-0.897-0.957-2.178-1.555-3.594-1.555c-2.719,0-4.924,2.205-4.924,4.924 c0,0.386,0.044,0.762,0.128,1.124C7.728,8.087,4.1,6.128,1.67,3.149c-0.422,0.722-0.666,1.561-0.666,2.461 c0,1.701,0.866,3.197,2.188,4.075c-0.804-0.025-1.562-0.246-2.228-0.614c0,0.021,0,0.042,0,0.064c0,2.377,1.693,4.358,3.946,4.811 c-0.412,0.111-0.846,0.171-1.293,0.171c-0.317,0-0.625-0.03-0.924-0.086c0.626,1.956,2.444,3.379,4.6,3.419 c-1.685,1.322-3.808,2.107-6.115,2.107c-0.398,0-0.79-0.023-1.175-0.069c2.179,1.397,4.768,2.212,7.548,2.212 c9.057,0,14.007-7.499,14.007-14.007c0-0.213-0.005-0.426-0.014-0.637C22.505,6.411,23.34,5.544,24,4.557z"
          ></path>
        </svg>
      </a>
      <a
        href="https://www.instagram.com/zachahalol"
        class="flex justify-center items-center gap-2 text-hiyo-purple hover:text-light-purple"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          fill="#4F1091"
          viewBox="0 0 24 24"
        >
          <path
            d="M7.75,2C4.469,2,2,4.469,2,7.75v8.5C2,19.531,4.469,22,7.75,22h8.5C19.531,22,22,19.531,22,16.25v-8.5 C22,4.469,19.531,2,16.25,2H7.75z M20,16.25c0,2.071-1.679,3.75-3.75,3.75h-8.5C5.679,20,4,18.321,4,16.25v-8.5 C4,5.679,5.679,4,7.75,4h8.5C18.321,4,20,5.679,20,7.75V16.25z"
          ></path>
          <path
            d="M12,7c-2.761,0-5,2.239-5,5s2.239,5,5,5s5-2.239,5-5S14.761,7,12,7z M12,15c-1.657,0-3-1.343-3-3s1.343-3,3-3 s3,1.343,3,3S13.657,15,12,15z"
          ></path>
          <circle cx="17.5" cy="6.5" r="1.5"></circle>
        </svg>
      </a>
      <a
        href="https://www.linkedin.com/in/zachriane"
        class="flex justify-center items-center gap-2 text-hiyo-purple hover:text-light-purple"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          fill="#4F1091"
          viewBox="0 0 24 24"
        >
          <path
            d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</section>

<style>
  svg {
    @apply hover:scale-110; /* Adjusts the scale to 110% on hover */
    @apply transition-all;
  }
</style>
