---
import zachImage from "@/images/zach.png";
import Greeting from "@/components/react-components/Greeting.tsx";
import { Image } from "astro:assets";
---

<section
  class="h-screen flex flex-col justify-between items-center image-gradient z-0"
>
  <div class="flex flex-col text-center gap-3 mt-36">
    <Greeting client:load />
    <span class="text-5xl font-semibold w-full">
      I'm <span class="bg-hiyo-purple text-white px-3">Zach</span>.
      Bridging leadership, data, <br /> and the web for continuous growth.</span
    >
  </div>
  <Image src={zachImage} alt="Zach Riane Machacon" width={700} />
</section>

<style>
  .image-gradient {
    position: relative;
    background: rgb(79, 16, 145);
    background: radial-gradient(
      circle at center bottom,
      rgba(79, 16, 145, 1) 0%,
      rgba(255, 255, 255, 1) 55%
    );
  }

  .image-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://grainy-gradients.vercel.app/noise.svg);
    background-blend-mode: multiply;
    filter: contrast(150%) brightness(110%);
    pointer-events: none;
    z-index: 1;
  }

  .image-gradient::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, transparent, white);
    pointer-events: none;
    z-index: 2;
  }
  .image-gradient > * {
    position: relative;
    z-index: 3;
  }
</style>
