---
import zrmLogo from "../../public/zrm_logo.svg";
---

<nav class="w-screen flex justify-between shadow-lg">
  <img
    class="ml-2"
    src={zrmLogo.src}
    width="100"
    alt="Zach Riane Machacon logo"
  />
  <div class="flex items-center justify-center gap-3 font-bold text-xl">
    <span>About</span>
    <span>Experience</span>
    <span>Portfolio</span>
  </div>
  <div>
    
  </div>
</nav>
