---
import zrmLogo from "@/images/zrm_logo.svg";
import { NavbarComponent } from "@/components/react-components/Navbar";
import { Image } from "astro:assets";
---

<NavbarComponent client:load>
  <Image
    class="ml-2"
    src={zrmLogo}
    width="100"
    alt="Zach Riane Machacon logo"
  />
  <div
    class="flex items-center justify-center gap-10 font-medium text-lg mr-10"
  >
    <span>About</span>
    <span>Experience</span>
    <span>Projects</span>
    <span>Contact</span>
  </div>
</NavbarComponent>
