---
import ProjectList from "@/components/astro-ui-components/ProjectList.astro";
import { ExternalLink } from "lucide-react";
---

<section class="w-full mt-10 scroll-mt-32" id="projects">
  <div class="flex flex-col items-center gap-10">
    <span class="bg-hiyo-purple text-white px-3 text-3xl sm:text-5xl font-bold"
      >featured projects.</span
    >
    <ProjectList />
    <a
      href="https://github.com/blurridge"
      target="_blank"
      rel="noopener noreferrer"
      class="flex gap-2 font-bold text-black transition-all duration-100 hover:text-gray-600 hover:scale-105 hover:transition-all hover:duration-100"
      >View all projects <ExternalLink /></a
    >
  </div>
</section>
