---
import ProjectList from '@/components/astro-ui-components/ProjectList.astro';
---

<section class="w-full mt-14 scroll-mt-32" id="projects">
  <div class="flex flex-col items-center gap-10">
    <span class="bg-hiyo-purple text-white px-3 text-3xl sm:text-5xl font-bold"
      >featured projects.</span
    >
    <ProjectList />
    <a
      href="https://github.com/blurridge"
      target="_blank"
      rel="noopener noreferrer"
      class="flex gap-2 font-bold text-black transition-all duration-100 hover:text-gray-600 hover:scale-105 hover:transition-all hover:duration-100"
      >View all projects
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="w-5 h-5"
      >
        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
        <polyline points="15 3 21 3 21 9"></polyline>
        <line x1="10" y1="14" x2="21" y2="3"></line>
      </svg>
    </a>
  </div>
</section>
