---
import ProjectList from "@/components/astro-ui-components/ProjectList.astro";
import { ExternalLink } from "lucide-react";
---

<section class="w-full mt-10 scroll-mt-32" id="projects">
  <div class="flex flex-col items-center gap-10">
    <span class="bg-hiyo-purple text-white p-2 text-5xl font-bold"
      >featured projects.</span
    >
    <ProjectList />
    <a
      href="https://github.com/blurridge"
      target="_blank"
      rel="noopener noreferrer"
      class="font-bold text-black hover:text-gray-600 hover:scale-105 flex gap-2"
      >View all projects <ExternalLink /></a
    >
  </div>
</section>
