---
import { Image } from "astro:assets";
---

<section class="w-full h-[35vh] mt-10 mb-40">
  <div class="flex flex-col items-center gap-5">
    <span class="bg-hiyo-purple text-white px-3 text-3xl sm:text-5xl font-bold"
      >tools.</span
    >
    <div
      class="w-full h-full text-center flex flex-wrap justify-center items-center gap-3"
    >
      <div
        class="w-[90%] md:w-[80%] lg:w-[60%] xl:w-[40%] flex flex-wrap justify-center items-center gap-4"
      >
        <a href="https://pytorch.org/" target="_blank" rel="noreferrer">
          <Image
            src="https://www.vectorlogo.zone/logos/pytorch/pytorch-icon.svg"
            alt="pytorch"
            width="70"
            height="70"
          />
        </a>
        <a href="https://www.tensorflow.org" target="_blank" rel="noreferrer">
          <Image
            src="https://www.vectorlogo.zone/logos/tensorflow/tensorflow-icon.svg"
            alt="tensorflow"
            width="70"
            height="70"
          />
        </a>
        <a href="https://www.python.org" target="_blank" rel="noreferrer">
          <Image
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
            alt="python"
            width="70"
            height="70"
          />
        </a>
        <a href="https://www.selenium.dev" target="_blank" rel="noreferrer">
          <Image
            src="https://raw.githubusercontent.com/detain/svg-logos/780f25886640cef088af994181646db2f6b1a3f8/svg/selenium-logo.svg"
            alt="selenium"
            width="70"
            height="70"
          />
        </a>
        <a href="https://www.chartjs.org" target="_blank" rel="noreferrer">
          <Image
            src="https://www.chartjs.org/media/logo-title.svg"
            alt="chartjs"
            width="70"
            height="70"
          />
        </a>
        <a href="https://pandas.pydata.org/" target="_blank" rel="noreferrer">
          <Image
            src="https://raw.githubusercontent.com/devicons/devicon/2ae2a900d2f041da66e950e4d48052658d850630/icons/pandas/pandas-original.svg"
            alt="pandas"
            width="70"
            height="70"
          />
        </a>
        <a href="https://scikit-learn.org/" target="_blank" rel="noreferrer">
          <Image
            src="https://upload.wikimedia.org/wikipedia/commons/0/05/Scikit_learn_logo_small.svg"
            alt="scikit_learn"
            width="70"
            height="70"
          />
        </a>
        <a href="https://seaborn.pydata.org/" target="_blank" rel="noreferrer">
          <Image
            src="https://seaborn.pydata.org/_images/logo-mark-lightbg.svg"
            alt="seaborn"
            width="70"
            height="70"
          />
        </a>
        <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer">
          <Image
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
            alt="html5"
            width="70"
            height="70"
          />
        </a>
        <a
          href="https://www.w3schools.com/css/"
          target="_blank"
          rel="noreferrer"
        >
          <Image
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
            alt="css3"
            width="70"
            height="70"
          />
        </a>
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
          target="_blank"
          rel="noreferrer"
        >
          <Image
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
            alt="javascript"
            width="70"
            height="70"
          />
        </a>
        <a href="https://reactjs.org/" target="_blank" rel="noreferrer">
          <Image
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg"
            alt="react"
            width="70"
            height="70"
          />
        </a>
        <a href="https://nextjs.org/" target="_blank" rel="noreferrer">
          <Image
            src="https://cdn.worldvectorlogo.com/logos/next-js.svg"
            alt="next.js"
            width="70"
            height="70"
          />
        </a>
        <a href="https://tailwindcss.com/" target="_blank" rel="noreferrer">
          <Image
            src="https://www.vectorlogo.zone/logos/tailwindcss/tailwindcss-icon.svg"
            alt="tailwind"
            width="70"
            height="70"
          />
        </a>
        <a
          href="https://www.djangoproject.com/"
          target="_blank"
          rel="noreferrer"
        >
          <Image
            src="https://cdn.worldvectorlogo.com/logos/django.svg"
            alt="django"
            width="70"
            height="70"
          />
        </a>
        <a href="https://www.php.net" target="_blank" rel="noreferrer">
          <Image
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/php/php-original.svg"
            alt="php"
            width="70"
            height="70"
          />
        </a>
        <a href="https://www.java.com" target="_blank" rel="noreferrer">
          <Image
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg"
            alt="java"
            width="70"
            height="70"
          />
        </a>
        <a href="https://www.arduino.cc/" target="_blank" rel="noreferrer">
          <Image
            src="https://cdn.worldvectorlogo.com/logos/arduino-1.svg"
            alt="arduino"
            width="70"
            height="70"
          />
        </a>
        <a
          href="https://www.cprogramming.com/"
          target="_blank"
          rel="noreferrer"
        >
          <Image
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg"
            alt="c"
            width="70"
            height="70"
          />
        </a>
        <a
          href="https://www.w3schools.com/cpp/"
          target="_blank"
          rel="noreferrer"
        >
          <Image
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg"
            alt="cplusplus"
            width="70"
            height="70"
          />
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  a {
    @apply hover:scale-110; /* Adjusts the scale to 110% on hover */
    @apply transition-all;
  }

  @media (max-width: 640px) {
    a img,
    a svg {
      max-width: 50px;
    }
  }
</style>
