---
import ExperienceCard from "@/components/astro-ui-components/ExperienceCard.astro";
export interface Experience {
  title: string;
  company: string;
  duration: string;
  description: string[];
  link: string;
}

const experienceArray: Experience[] = [
  {
    title: "Full-stack Web Developer",
    company: "Project Taytayan",
    duration: "12/2023 - Present",
    description: [
      "Modeled NoSQL databases for efficiency.",
      "Crafted website components with precision.",
      "Collaborated with UI/UX designers for interfaces.",
      "Implemented industry best practices for codebase optimization.",
      "Ensured seamless user experience through testing.",
      "Provided constructive feedback for team improvement.",
    ],
    link: "",
  },
  {
    title: "Data Science Officer",
    company: "Google Developer Student Clubs - University of San Carlos",
    duration: "09/2023 - Present",
    description: [
      "Spearheaded scholarship distribution to 80+ students, providing access to DataCamp's resources.",
      "Monitored progress and provided detailed reports.",
      "Designed tailored assignments for data science concepts reinforcement.",
    ],
    link: "",
  },
  {
    title: "Lead",
    company: "Google Developer Student Clubs - University of San Carlos",
    duration: "08/2022 - 07/2023",
    description: [
      "Led GDSC chapter, fostering collaboration and guidance.",
      "Increased member count from 246 to 311 and hosted 8 successful events.",
      "Accommodated 1000+ participants covering various topics.",
      "Expanded officer and member portfolios through internships.",
      "Officers accepted leadership roles in various clubs.",
    ],
    link: "",
  },
  {
    title: "Client Success Intern",
    company: "Dashlabs.ai (YC W21)",
    duration: "12/2022 - 03/2023",
    description: [
      "Spearheaded B2C communications for prompt issue resolution and enhanced satisfaction.",
      "Managed meetings and reports for B2C analytics, optimizing strategies.",
      "Contributed to lead generation and client base expansion through effective marketing.",
    ],
    link: "",
  },
];
---

<div class="w-full flex flex-col gap-4">
  {
    experienceArray.map((experience, index) => (
      <ExperienceCard
        experience={experience}
        align={index % 2 === 0 ? "right" : "left"}
      />
    ))
  }
</div>
