.custom-shape-divider-top-1712539321 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1712539321 svg {
  position: relative;
  display: block;
  width: calc(142% + 1.3px);
  height: 137px;
}

.custom-shape-divider-top-1712539321 .shape-fill {
  fill: #ffffff;
}
.custom-shape-divider-bottom-1712539240 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1712539240 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1712539240 .shape-fill {
  fill: #ffffff;
}
